body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

/* First-Section */
#first {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
}

.top {
  color: hsl(234, 12%, 34%);
  font-weight: 200;
  font-size: 2.5rem;
}

p {
  color: hsl(229, 6%, 66%);
  font-weight: 400;
  padding: 10px;
}

#para1 {
  width: 48%;
  margin: 20px auto auto;
}

/* Second-Section */
#second {
  background-color: #f2f2f2;
  padding: 40px;
}

/* Headings */
h1 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}

h3 {
  color: hsl(234, 12%, 34%);
  padding: 10px;
}

/* Boxes */
.box {
  background-color: #f7f7f7;
  width: 400px;
  height: 300px;
  box-shadow: 5px 8px #888888;
  margin: 10px;
  border-radius: 8px;
}

.box1 {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.box2 {
  border-top: 4px solid hsl(0, 78%, 62%);
  margin-bottom: 40px;
}

.box3 {
  border-top: 4px solid hsl(212, 86%, 64%);
}

.box4 {
  border-top: 4px solid hsl(34, 97%, 64%);
}
/* Image */
img {
  padding: 1rem 0 0 15rem;
}

/* Column */
.c1 {
  padding: 150px 0 0 40px;
}

.c2 {
  padding: 0 20px 0;
}

.c3 {
  padding: 150px 40px 0 0;
}

/* Row */
.r {
  margin-right: 0px;
  margin-left: 0px;
}

/* Mobile-Website */
@media (max-width: 900px) {
  /* First-Section */
  .top{
    padding-bottom: 0;
    font-size: 30px;
  }

  h1{
    font-size: 35px;
  }

  #para1 {
    width: 75%;
    margin: 20px auto auto;
  }

  /* Second-Section */
  #second {
    padding: 0;
  }
  /* Columns */
  .c1, .c3 {
    padding: 20px 25px;
  }

  .c2 {
    padding: 0 25px;
  }

}
